.place__paragraphs {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .place__paragraphs {
    line-height: 1.63;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraphs {
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 625px) {
  .place__paragraphs {
    grid-row: 4;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraphs {
    margin: 0 16px;
  }
}
